// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$enable-responsive-font-sizes: true;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-xl: ($font-size-base * 1.5);
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$font-size-xs: ($font-size-base * .75);

@import "spacers";

$primary: #1100ff;
$secondary: #ff0000;
$green: #5FB352;
$red: #dc3545 !default;
$orange: #EA8E0A;
$dark: #303030;
$light: #ffffff;

$custom-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark":$dark,
    "success": $green,
    "info": $primary,
    "warning": $orange,
    "danger": $red,
    "light": $light,
);
$theme-colors: $custom-colors;

$headings-margin-bottom: 0;
$link-hover-decoration: none;
$link-hover-color: none;
$link-decoration: none;

$dropdown-link-hover-bg: white;
$dropdown-link-focus-bg: white;

$dropdown-link-hover-color: $primary;
$dropdown-link-focus-color: $primary;

$font-family-base: 'Open Sans', sans-serif;
$link-color: $primary;